# Neon, polaczenie przez pooler. Uzywane przez aplikacje w czasie dzialania.
DATABASE_URL="postgresql://user:haslo@ep-xxx-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require"
# Neon, polaczenie bezposrednie. Uzywane przez migracje, ktore nie dzialaja przez pooler.
DIRECT_URL="postgresql://user:haslo@ep-xxx.eu-central-1.aws.neon.tech/neondb?sslmode=require"
# openssl rand -base64 32
AUTH_SECRET=""
